
  .body{
    overflow-x: hidden;
  }
  .welcome{
    margin: 14rem 10rem 10rem 5rem ;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-family:sans-serif;
    width: "50%",
  }
  .welcome1{
    margin: -11rem 10rem 10rem 5rem ;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-family:sans-serif;
    width: "50%",
  }

  .img{
    margin-top: -35rem;
    
      
    
  }
  
  .header{
    margin-top: -15rem;
    position:fixed;
    width: 100%;
    z-index:1000 ;
    

  }
  .text{
    font-weight: 5;
  }


  .welcome , .welcome1{
   
  
    position: relative;
    animation-name: example;
    animation-duration: 3s; 
   
 }
 
 @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:100px; top:-10px;  }
    
  }

  .text{
   
  
    position: relative;
    animation-name: text;
    animation-duration: 3s; 
   
 }
 
 @keyframes text {
    0%   { left:0px; top:0px;}
    25%  { left:100px; top:20px;  }
    
  }
  
 
  @media (max-width: 480px) {
    .welcome {
      font-size: 1.3rem;
      margin-left: 2rem;
      margin-top: 12rem;
      
      
    }
    .welcome1 {
      font-size: 1.3rem;
      margin-left: 2rem;
     
    }
    .img{
      margin-top: -34rem;
    }
    .header{
       margin-top: -13rem;
    }
    .text{
      margin-left: -2rem;
      width: 190%;
      margin-bottom: -8rem;
    }
    .body{
      overflow: hidden;
    }
}



@media ((min-width: 481px) and (max-width: 739px)) {
  .welcome {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 12rem;
    
    
  }
  .welcome1 {
    font-size: 1.3rem;
    margin-left: 2rem;
   
  }
  .img{
    margin-top: -34rem;
  }
  .header{
     margin-top: -13rem;
  }
  .text{
    margin-left: -2rem;
    width: 190%;
    margin-bottom: -8rem;
  }
  .body{
    overflow: hidden;
  }
}

@media (min-width: 740px) and (max-width: 990px) {
  .welcome {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-top: 12rem;
    
    
  }
  .welcome1 {
    font-size: 1.3rem;
    margin-left: 2rem;
   
  }
  .img{
    margin-top: -34rem;
  }
  .header{
     margin-top: -13rem;
  }
  .text{
    margin-left: -2rem;
    width: 190%;
    margin-bottom: -8rem;
  }
  .body{
    overflow: hidden;
  }
}

@media (min-width: 990px) and (max-width: 1265px){
  .body{
    overflow-x: hidden;
  }
}

  
  
  