.body{
    font-family: sans-serif;
  
    overflow-x: hidden;
    

   
}
.title{
   font-size: 6rem; 
   font-family: sans-serif;
}

.icon{
    border: 0.1 dashed #FFAF02  ;
    padding: 0.5rem;
    border-radius: 5rem;
    margin-left: 14rem;
    color: #FFAF02;
  
}
.icon2{
    border: 0.1 solid #FFAF02;
    padding: 0.5rem;
    border-radius: 5rem;
    margin-left: 6rem;
    color: #FFAF02;
}
.icon3{
    border: 0.1 dashed #FFAF02 ;
    padding: 0.5rem;
    border-radius: 5rem;
    margin-left: 6rem;
    color: #FFAF02;
}
.card , .card1 ,.card5{
    background-color: var(--surface-color);
    padding: 20px 0 30px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.icon:hover{
    border: 0.2rem solid #ffffff;
   color: rgb(255, 255, 255);
   background-color: #FFAF02;
    
    
   
}

.icon2:hover{
    border: 0.2rem solid #ffffff;
   color: rgb(255, 255, 255);
   background-color: #FFAF02;
    
    
   
}
.icon3:hover{
    border: 0.2rem solid #ffffff;
   color: rgb(255, 255, 255);
   background-color: #FFAF02;
    
    
   
}
.header{
    margin-top: -1rem;
    position:fixed;
    width: 100%;
    z-index:1000;
  }
 

  @media (max-width: 480px) {
    .body{
        margin: 0rem;
    }
   

    .text{
       margin-left: 8rem !important; 
       margin-top: 13rem !important;
        
    }

    .header{margin-top: 0rem !important;}
    .img{
        margin-left: 9rem !important;
    }
    .card1{
        margin-left: -3rem !important;
         margin-right: 0rem !important;
         width: 16rem !important;
        
        
    }
    .card , .card5{
        margin-left: -3rem !important; 
    }
    .icon{
        margin-left: 6rem;
    }
    .text5{
        margin-left: -4rem !important;
        width: 17rem !important;
    }
    .text6{
        margin-left: -7.5rem !important;
    }
    .flex{
        flex-direction: column;
       
    }
    .form{
        margin-left: -40.6rem !important;
        margin-top: 35rem;
        
       
        
    }
    .map{
        margin-top: -65rem !important;
        margin-bottom: 40rem !important;
        margin-left: 1.5rem !important;
        width: 90% !important;
    }


   
  }

  @media (min-width: 990px) and (max-width: 1180px){

    .text{
        margin-left: 28rem !important; 
        margin-top: 13rem !important;
         
     }
    .img{
        margin-left: 29rem !important;
    }
    .card1{
        margin-left: -3rem !important;
         margin-right: 0rem !important;
         width: 25% !important;
        
        
    }
    .card {
        margin-left: 16rem !important; 
        margin-top: -13rem;
        margin-bottom: 10rem;
        width: 25% !important;
    }

     .card5{
        margin-left: 35rem !important; 
        margin-top: -21.5rem;
        margin-bottom: 10rem;
    }
    .icon{
        margin-left: 6rem;
    }
    .text5{
        margin-left: -4rem !important;
        width: 17rem !important;
    }
    .text6{
        margin-left: -7.5rem !important;
    }
    .flex{
        flex-direction: column;
        margin-left: 9rem !important;
       
    }
    .form{
        margin-left: -7.6rem !important;
        margin-top: -5rem;
        
      
       
        
    }
    .map{
        margin-top: -35rem !important;
        margin-bottom: 15rem !important;
        margin-left: 6rem !important;
        width: 37% !important;
    }
   
  }


  @media (min-width: 700px) and (max-width: 990px){

    .text{
        margin-left: 20rem !important; 
        margin-top: 13rem !important;
         
     }
    .img{
        margin-left: 21rem !important;
    }
    .card1{
        margin-left: -6rem !important;
         margin-right: 0rem !important;
         width: 30% !important;
        
        
    }
    .card {
        margin-left: 11rem !important; 
        margin-top: -13rem;
        margin-bottom: 10rem;
        width: 25% !important;
       
    }

     .card5{
        margin-left: 25rem !important; 
        margin-top: -21.5rem;
        margin-bottom: 10rem;
        width: 27% !important;
    }
    .icon{
        margin-left: 4rem;
    }
    .text5{
        margin-left: -6rem !important;
        width: 15rem !important;
    }
    .text6{
        margin-left: -10.5rem !important;
       
    }
    .flex{
        flex-direction: column;
        margin-left: 9rem !important;
       
    }
    .form{
        margin-left: -15.6rem !important;
        margin-top: -5rem;
       
        
      
       
        
    }
    .map{
        margin-top: -35rem !important;
        margin-bottom: 15rem !important;
        margin-left: 2rem !important;
        width: 37% !important;
    }
    .icon2{
        margin-left: 2.5rem;
    }
    .call{
        margin-left: -3rem !important;
    }
    .phone{
        margin-left: -3.5rem !important;
    }
    .Email{
       
        margin-left: -3rem !important;
        width: 1rem;
    }
    .icon3{
        margin-left: 3rem;
    }
   
  }


  
  @media (min-width: 481px) and (max-width: 699px){

    .text{
        margin-left: 15rem !important; 
        margin-top: 13rem !important;
         
     }
    .img{
        margin-left: 16rem !important;
    }
    .card1{
        margin-left: -6rem !important;
         margin-right: 0rem !important;
         width: 30% !important;
        
        
    }
    .card {
        margin-left: 5rem !important; 
        margin-top: -13rem;
        margin-bottom: 10rem;
        width: 35% !important;
       
    }

     .card5{
        margin-left: 15rem !important; 
        margin-top: -21.5rem;
        margin-bottom: 10rem;
        width: 35% !important;
    }
    .icon{
        margin-left: 2rem;
    }
    .text5{
        margin-left: -7rem !important;
        width: 15rem !important;
        font-size: 0.8rem !important;
    }
    .text6{
        margin-left: -11.5rem !important;
       
    }
    .flex{
        flex-direction: column;
        margin-left: 9rem !important;
       
    }
    .form{
        margin-left: -22.6rem !important;
        margin-top: -5rem;
       
        
      
       
        
    }
    .map{
        margin-top: -35rem !important;
        margin-bottom: 15rem !important;
        margin-left: 2rem !important;
        width: 37% !important;
    }
    .icon2{
        margin-left: 2.5rem;
    }
    .call{
        margin-left: -3rem !important;
    }
    .phone{
        margin-left: -3.5rem !important;
        font-size: 0.9rem !important;
    }
    .Email{
       
        margin-left: -3rem !important;
        width: 1rem;
        font-size: 0.8rem !important;
    }
    .icon3{
        margin-left: 3rem;
    }
   
  }