.body{
    font-family: sans-serif;
    margin-left: 1.7rem;
    

   
}
.title{
   font-size: 6rem; 
   font-family: sans-serif;
}

.icon{
    border: 0.1 dashed #FFAF02  ;
    padding: 0.5rem;
    border-radius: 5rem;
    margin-left: 14rem;
    color: #FFAF02;
  
}
.icon2{
    border: 0.1 solid #FFAF02;
    padding: 0.5rem;
    border-radius: 5rem;
    margin-left: 6rem;
    color: #FFAF02;
}
.icon3{
    border: 0.1 dashed #FFAF02 ;
    padding: 0.5rem;
    border-radius: 5rem;
    margin-left: 6rem;
    color: #FFAF02;
}
.card , .card1{
    background-color: var(--surface-color);
    padding: 20px 0 30px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.icon:hover{
    border: 0.2rem solid #ffffff;
   color: rgb(255, 255, 255);
   background-color: #FFAF02;
    
    
   
}

.icon2:hover{
    border: 0.2rem solid #ffffff;
   color: rgb(255, 255, 255);
   background-color: #FFAF02;
    
    
   
}
.icon3:hover{
    border: 0.2rem solid #ffffff;
   color: rgb(255, 255, 255);
   background-color: #FFAF02;
    
    
   
}
.header{
    margin-top: -8rem;
    position:fixed;
    width: 100%;
    z-index:1000;
  }

  @media (max-width: 480px) {
    .body{
        margin: 0rem;
    }
   

    .text{
       margin-left: 8rem !important; 
       margin-top: 13rem !important;
        
    }

    .header{margin-top: -13rem !important;}
    .img{
        margin-left: 9rem !important;
    }
    .card1{
        margin-left: -3rem !important;
         margin-right: 0rem !important;
         width: 16rem !important;
        
        
    }
    .card{
        margin-left: -3rem !important; 
    }
    .icon{
        margin-left: 6rem;
    }
    .text5{
        margin-left: -4rem !important;
        width: 17rem !important;
    }
    .text6{
        margin-left: -7.5rem !important;
    }
    .flex{
        flex-direction: column;
       
    }
    .form{
        margin-left: -40.6rem !important;
        margin-top: 35rem;
        
       
        
    }
    .map{
        margin-top: -65rem !important;
        margin-bottom: 40rem !important;
        margin-left: 1.5rem !important;
        width: 90% !important;
    }


   
  }