.body{
    font-family: sans-serif;
    overflow-x: hidden;
}
.title, .title1 {
    font-size: 6rem !important; 
    font-family: sans-serif;
}
.title2{
    font-size: 3rem;
}
.header{
    margin-top: -1rem !important;
    position:fixed;
    width: 100%;
    z-index:1000;
  }
  @media (max-width: 480px) {
    .body{
        overflow-x: hidden;
    }
     .header{
        margin-top: -1rem;
     }
     .img{
      margin-left: 1rem !important;
      width: 98% !important;
      margin-top: 0rem !important;
    
     }
     .title{
        margin-left: 2rem !important;
        margin-top: -6rem !important;
        font-size: 3rem !important;
     }
     .title1{
        margin-left: 11rem !important;
        margin-top: -4rem !important;
        font-size: 3rem !important;
     }
     .text{
        margin-left: 2rem !important;
        font-size: 0.7rem !important;
        width: 70% !important;

     }
     .group2{
        margin-left: -70rem;
     }
     .img2{
        margin-left: 69rem !important;
        width: 12% !important;
        margin-top: 4rem !important; 
     }

     .descripion{
        margin-left: 28rem;
        margin-top: 45rem;
        width: 41% !important;
        text-align: justify;
     }
     .descripion2{
        margin-left: 69rem;
        margin-top: 80rem;
     }
     .title3{
        margin-left: 47rem !important;
        width: 15rem ;
     }
     .img3{
        margin-top: -6rem !important;
        margin-bottom: 8rem;
     }
     .img4{
        display: none !important;
     }
     .img5{
        margin-top: -8.5rem !important;
        margin-bottom: 8rem !important;
     }
     .img6{
        margin-top: -7rem !important;
        margin-bottom: 8rem !important;
     }

     .img6{
        margin-top: -7rem !important;
        margin-bottom: 8rem !important;
     }
     .img7{
        margin-top: -6rem !important;
        margin-bottom: 8rem !important;
     }
     .img8{
        margin-top: -3rem !important;
        margin-bottom: 4rem !important;
       
     }
     .img9{
        margin-top: -4rem !important;
        margin-bottom: 40rem !important;
        margin-left: 71rem !important;
     }

     .img10{
      width: 20% !important;
      margin-left: 78.5rem !important;
      margin-top: -10rem !important;
      margin-bottom: -75rem;
     }

     .title4{
        margin-top: -30rem !important;
        margin-left: 73rem !important;
        width: 10%;
     }

     .title5{
        width: 71% !important;
        text-align: justify;
     }
     .img11{
        margin-top: -4rem !important;
        margin-bottom: 5rem !important;
     }
     .img12{
        margin-top: -5.8rem !important;
        margin-bottom: 6rem !important;
     }
     .img13{
        margin-top: -3rem !important;
     }


  }

  @media (min-width: 1150px) and (max-width: 1200px){
   .img2{
         width: 44% !important;
   } 
   .descripion{
      margin-left: -11.5rem;
      margin-top: 10rem;
      
   }
   
 }
 @media (min-width: 1200px) and (max-width: 1330px){
   .img2{
         width: 44% !important;
   } 
   .descripion{
      margin-left: -6.5rem;
      margin-top: 10rem;
      
   }
   
 }
 @media (min-width: 1090px) and (max-width: 1150px){
   .img2{
      width: 40% !important;
} 
.descripion{
   margin-left: -15rem;
   margin-top: 10rem;
   
   
}

}
@media (min-width: 990px) and (max-width: 1090px){
   .img2{
      width: 38% !important;
} 
.descripion{
   margin-left: -21rem;
   margin-top: 10rem;
   
   
}

}

@media ((min-width: 481px) and (max-width: 739px)) {
   .img{
      margin-left: 1rem !important;
      width: 98% !important;
      margin-top: 0rem !important;
    
     }
     .title{
        margin-left: 2rem !important;
        margin-top: -6rem !important;
        font-size: 3rem !important;
     }
     .title1{
        margin-left: 11rem !important;
        margin-top: -4rem !important;
        font-size: 3rem !important;
     }
     .text{
        margin-left: 2rem !important;
       
        width: 60% !important;

     }
     .group2{
        margin-left: -70rem;
     }
     .img2{
        margin-left: 69rem !important;
        width: 12% !important;
        margin-top: 4rem !important; 
     }

     .descripion{
        margin-left: 28rem;
        margin-top: 45rem;
        width: 48% !important;
        text-align: justify;
     }
     .descripion2{
        margin-left: 69rem;
        margin-top: 80rem;
     }
     .title3{
        margin-left: 47rem !important;
        width: 15rem ;
     }
     .img3{
        margin-top: -5rem !important;
        margin-bottom: 8rem;
     }
     .img4{
        display: none !important;
     }
     .img5{
        margin-top: -5.5rem !important;
        margin-bottom: 5rem !important;
     }
   
     .img6{
        margin-top: -4.5rem !important;
        margin-bottom: 5rem !important;
     }
     .img7{
        margin-top: -3rem !important;
        margin-bottom: 5rem !important;
     }
     .img8{
        margin-top: -1.5rem !important;
        margin-bottom: 2rem !important;
       
     }
     .img9{
        margin-top: -3rem !important;
        margin-bottom: 40rem !important;
        margin-left: 43.1rem !important;
     }

     .img10{
      width: 20% !important;
      margin-left: 91.5rem !important;
      margin-top: -10rem !important;
      margin-bottom: -75rem;
     }

     .title4{
        margin-top: -30rem !important;
        margin-left: 73rem !important;
        width: 10%;
     }

     .title5{
        width: 71% !important;
        text-align: justify;
     }
     .img11{
        margin-top: -4rem !important;
        margin-bottom: 5rem !important;
     }
     .img12{
        margin-top: -5.8rem !important;
        margin-bottom: 6rem !important;
     }
     .img13{
        margin-top: -3rem !important;
     }


   
}

@media ((min-width: 740px) and (max-width: 990px)) {
   .img{
      margin-left: 1rem !important;
      width: 98% !important;
      margin-top: 0rem !important;
    
     } 
     .img2{
      margin-left: 0rem !important;
      width: 40% !important;
      margin-top: 18rem !important; 
   }
   .descripion{
      margin-left: -18rem;
      margin-top: 25rem;
      width: 58% !important;
      text-align: justify;
   }
   .img4{
      display: none !important;
   }
   .title2{
      width: 100%;
      margin-left: 48rem !important;
   }
   .title5{
      width: 50% !important;
   }
   .img10{
      width: 80% !important;
      margin-left: 35rem !important;
   }
}
 

