.wrapper {
    padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
  }
  
  .titles {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: 56px !important;
    font-weight: 600;
    line-height: 1.1;
    margin-top: 4rem !important;
    margin-left: 2rem !important;
    margin-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  .texts{
    text-align: justify;

    
  }
  .button{
    padding: 0rem 2rem 0rem 2rem ;
  }
  .button:hover{
    color: aliceblue;
    background-color: #ffae00;
  
 }
 .image5{
     width: -10%;
     padding-left: 8rem;
     margin-left: -6rem;
     margin-bottom: 1.5rem;

 }

 .card{
    border: 0.1rem solid #ffae00 ;
    padding: 1.5rem;
    border-radius: 1rem;
 }

 .card:hover{
    border: 0.2rem solid #ffae00 ;
    transform: scale(1.02);
 }


 @media (max-width: 480px) {
  .texts{
    width: 30%;
    margin-left: -4rem;
    
  }
  .title{
    font-size: 3rem !important ;
    margin-left: -30rem ;
    margin-bottom: 2rem !important;
  }
  .card{
     width: 30%;
      margin-left: 0.5rem;
  }
 
.wrapper{
  width: 80%;
  margin-left: -5rem;
}


 }

