.parent , .parent3 {
    display: inline-block; /* Adjust this to fit your layout */
    
}

.content{
    background-color: #FFAF03;
    opacity: 85%;
    border-radius: 5%;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: rgb(0, 0, 0);
    width: 92%;
    margin-bottom: 3rem;
    position: relative;
    
   
}

.title {
    font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;  
}

.contentss{
    background-color: #FFAF03;
    opacity: 85%;
    border-radius: 5%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    color: rgb(0, 0, 0);
    margin-top: 15;
   
}
.contents{
    width: 90%;
    margin-left: 1rem;
    margin-top: -9rem;
    text-align: justify;

}
.buttons{
    color: #000000 !important;
}

.buttons:hover{
    background-color: #FFAF03;
    
    border: 0.2rem solid rgb(255, 255, 255);
}

.icons{
    color: white;
    background-color: #FFAF03;
    border: 0.2rem solid white;
    border-radius: 100%;
    width: 5rem;
    height: 4rem;
    padding: 0.2rem;
    margin-left: 7rem;
    margin-bottom: -2.5rem;
    margin-top: 0.7rem;
    z-index: 1;
    position: relative;
}

.icon{
    color: white;
    background-color: #FFAF03;
    border: 0.2rem solid white;
    border-radius: 100%;
    width: 5rem;
    height: 4rem;
    padding: 0.2rem;
    margin-left: 7rem;
    margin-bottom: -1.5rem;
    z-index: 1;
    position: relative;
}
.Images{
    transition: transform 0.3s ease;
    overflow: hidden;}
    .Imagess{
        transition: transform 0.3s ease;
        overflow: hidden;}

.parents , .parents2{
    margin-left:-7.5rem;
     width: 76rem ;

}


/* radius="md"
h={240}
w="auto"
fit="contain"
src="card1.jpg"
 alt='image' */


    



.parent:hover .icons {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}
.parent:hover .icon {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}
.parents2:hover .icon {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}
.parent3:hover .icon {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}


.parent:hover .Images {
    transform: scale(1.06);
    opacity: 0.8;
}
.parent:hover .Imagess {
    transform: scale(1.06);
    opacity: 0.8;
}

.parents2:hover .Images {
    transform: scale(1.06);
    opacity: 0.8;
}
.parent3:hover .Images {
    transform: scale(1.06);
    opacity: 0.8;
}

@media (max-width: 480px) {
    .body{
        width: 5%;
        margin-left: 8.7rem !important;
       
    
    
    }

    .Images{
        height: 11.5rem !important;
        
    }
    .Imagess{
        height: 10.5rem !important;
        
    }
.icon{
    margin-left: 5rem;
}
.icons{
    margin-left: 5rem;
}
 .content{
    width: 16rem;
    margin-left: -0.4rem;
 }
 .contentss{
    width: 15rem;
 }



 
 

}


@media (min-width: 990px) and (max-width: 1200px){
    .content{
        width: 17rem;
        height: 21rem;
        
     }  
     .Images{
        height: 12.5rem !important;
        
        
    }
    .Imagess{
        height: 11.5rem !important;
       
        
    }
    .body{
        margin-left: 10rem !important;
      
        
    }
    .grid{
        width: 70% !important;
        margin-left: -1rem;
        
    }
    .grids{
        width: 70% !important;
        margin-left: -1rem;
        
    }
    .parents2{
       margin-top: -31.5rem;
       margin-left: 20rem !important;
       margin-bottom: 5rem;
    }
    .parent3{
        margin-top: -36.5rem !important;
        margin-left: 40rem !important;
        margin-bottom: 5rem;
     }
     .contentss{
        width: 17rem;
        height: 24rem;
        margin-top: 1rem;

     }
    
   
    
}


@media ((min-width: 481px) and (max-width: 739px)) {
    .body{
        width: 100% !important;
        margin-left: 14rem !important;
       
    
    
    }

    .Images{
        height: 12.5rem !important;
        
    }
    .Imagess{
        height: 12.5rem !important;
     
        
    }


 .content{
    width: 17rem;
 }
 .contentss{
    width: 18rem;
 }
 .titles{
    margin-left: -5rem !important;
 }



 
 

 
}

@media (min-width: 850px) and (max-width: 990px) {
    .body{
        width: 100% !important;
        margin-left: 11rem !important;

    }

    .Images{
        height: 14.5rem !important;
        
    }
    .Imagess{
        height: 14.5rem !important;
        
    }
 
#parent{
    margin-left: 25rem;
    margin-top: -32.2rem;
}

 .content{
    width: 18rem;
    margin-left: 1rem;
 }
 .icon{
    margin-left: 8rem;
 }
 .contentss{
    width: 19rem;
    margin-left: 0.5rem;
 }
 .titles{
    margin-left: 3rem !important;
 } 
 .icons{
  margin-left: 7rem;
 }

 #parents{
    margin-left: 25rem;
    margin-top: -32rem;
 }
 #parentss{
    margin-left: 25rem;
    margin-top: -33.5rem;
 }
}

@media (min-width: 740px) and (max-width: 849px) {
    .body{
        width: 100% !important;
        margin-left: 8rem !important;

    }

    .Images{
        height: 12.5rem !important;
        
    }
    .Imagess{
        height: 12.5rem !important;
        
    }
 
#parent{
    margin-left: 25rem;
    margin-top: -32.2rem;
}

 .content{
    width: 14rem;
    margin-left: 1rem;
 }
 .icon{
    margin-left: 8rem;
 }
 .contentss{
    width: 15rem;
    margin-left: 0.5rem;
 }
 .titles{
    margin-left: 3rem !important;
 } 
 .icons{
  margin-left: 7rem;
 }

 #parents{
    margin-left: 25rem;
    margin-top: -32rem;
 }
 #parentss{
    margin-left: 25rem;
    margin-top: -33.5rem;
 }
}


