.parent , .parent3 {
    display: inline-block; /* Adjust this to fit your layout */
    
}

.content{
    background-color: #FFAF03;
    opacity: 85%;
    border-radius: 5%;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: rgb(0, 0, 0);
    width: 92%;
    margin-bottom: 3rem;
   
}

.title {
    font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;  
}

.contentss{
    background-color: #FFAF03;
    opacity: 85%;
    border-radius: 5%;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    color: rgb(0, 0, 0);
    margin-top: 15;
   
}
.contents{
    width: 90%;
    margin-left: 1rem;
    margin-top: -9rem;
    text-align: justify;
}
.buttons{
    color: #000000 !important;
}

.buttons:hover{
    background-color: #FFAF03;
    
    border: 0.2rem solid rgb(255, 255, 255);
}

.icons{
    color: white;
    background-color: #FFAF03;
    border: 0.2rem solid white;
    border-radius: 100%;
    width: 5rem;
    height: 4rem;
    padding: 0.2rem;
    margin-left: 7rem;
    margin-bottom: -2.5rem;
    margin-top: 0.7rem;
    z-index: 1;
    position: relative;
}

.icon{
    color: white;
    background-color: #FFAF03;
    border: 0.2rem solid white;
    border-radius: 100%;
    width: 5rem;
    height: 4rem;
    padding: 0.2rem;
    margin-left: 7rem;
    margin-bottom: -1.5rem;
    z-index: 1;
    position: relative;
}
.Images{
    transition: transform 0.3s ease;
    overflow: hidden;}

.parents , .parents2{
    margin-left:-7.5rem;
     width: 76rem ;

}


/* radius="md"
h={240}
w="auto"
fit="contain"
src="card1.jpg"
 alt='image' */


    



.parent:hover .icon {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}
.parents2:hover .icons {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}
.parent3:hover .icons {
    color: #FFAF03;
    background-color: #ffffff;
    border: 0.2rem solid #FFAF03;
}

.parent:hover .Images {
    transform: scale(1.06);
    opacity: 0.8;
}
.parents2:hover .Images {
    transform: scale(1.06);
    opacity: 0.8;
}
.parent3:hover .Images {
    transform: scale(1.06);
    opacity: 0.8;
}

@media (max-width: 480px) {
    .body{
        width: 5%;
        margin-left: 7.2rem !important;
       
    
    
    }

    .Images{
        height: 12.5rem !important;
        
    }


 .content{
    width: 17rem;
 }



 
 

}

@media (min-width: 1081px) and (max-width: 1265px){
    .content{
        width: 17rem;
     }  
     .Images{
        height: 12.5rem !important;
        
    }
    .body{
        margin-left: 10rem !important;
      
        
    }
    .grid{
        width: 70% !important;
        
        
    }
    .grids{
        width: 70% !important;
        
        
    }
    .parents2{
       margin-top: -31rem;
       margin-left: 23rem !important;
    }
    .parent3{
        margin-top: -31rem !important;
        margin-left: 45rem !important;
     }
     .contentss{
        width: 90%;
     }

}
@media (min-width: 990px) and (max-width: 1080px){
    .content{
        width: 17rem;
     }  
     .Images{
        height: 12.5rem !important;
        
    }
    .body{
        margin-left: 10rem !important;
      
        
    }
    .grid{
        width: 70% !important;
        margin-left: -1rem;
        
    }
    .grids{
        width: 70% !important;
        margin-left: -1rem;
        
    }
    .parents2{
       margin-top: -31rem;
       margin-left: 20rem !important;
    }
    .parent3{
        margin-top: -31rem !important;
        margin-left: 40rem !important;
     }
     .contentss{
        width: 90%;
     }
}


