.headers{
 
  height: 7.5rem;
  width: 100%;
  position:relative;
  z-index: -1;
}


.header-bg{
  background-color:#f8f8f8; 
  
  opacity: 80%;
}

.header {
    height: 60px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    margin-right: 10rem;
    z-index: 100;
    position:relative;
    
  }
  .image{
    z-index: 100;
    position:relative;
    margin: 2rem;
    margin-left: 8rem;
    margin-right: 2rem;
    width: 20rem;
    height: 6.7rem;
    margin-top: 1rem;
   

  }
  .header.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Background color after scrolling */
}
  
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 450;
    font-size: var(--mantine-font-size-md);
    margin-left: 2rem;
    margin-right: 10;
  
    /* @media (max-width: $mantine-breakpoint-sm) {
      height: 42px;
      width: 100%;
    } */
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
  .link:hover{
    color: #FFB413;
 
  }
  
  
  
  .subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    }
  }
  
  .dropdownFooter {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }
  @media (max-width: 480px) {

    .image{
      margin-left: 1rem;
    }
   
  }

 .imageheader{
  width: 1rem;
  height: 36rem;
  padding: 1rem 1rem 3rem 1.5rem;
 } 

